@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900; 1.100.900&display=swap')


*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}
.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}
.destaque-titulo {
    color: #22D4FD;
}
.apresentacao {
    padding: 1% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo {
    width: 40%;
    display: flex;  
    flex-direction: column;
    gap: 10px;
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family:'Krona One', sans-serif;
}
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentecao__links__subtitulo {
    font-family: 'Krona One',sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    
}
.apresentacao__links__navegacao {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
    font-size: 1rem
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #22D4FD;
}
.apresentacao__links__link:hover {
    background-color: #272727;
}
.apresetacao__imagem{
    width:;
    
}
.rodape{
    /* margin: -8px;
    padding: 20px;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400; */
}
@media (max-width: 1200px){
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}
